<div>
  <div class="flex">
    <ngb-carousel #carousel [interval]="1000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
      <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="carousel-caption">
          <h3>My slide {{i + 1}} title</h3>
          <h3>hello {{img}}</h3>
        </div>
        <!-- <a href="" target="_blank" rel="nofollow noopener noreferrer carousel-item"> -->
        <div class="carousel-item">
          <div class="picsum-img-wrapper">
            <img class="carousel-image" [src]="img" alt="My image {{i + 1}} description">
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
